body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ffffff;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.box{
    width: 300px;
    padding: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: #2c2b2b;
}
.box h1 {
    color: rgb(206, 206, 206);
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
}
.box input[type="text"],.box input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid rgb(206, 206, 206);
    padding: 14px 10px;
    width: 220px;
    outline: none;
    color: white;
    border-radius: 10px;
    transition: 0.25px;
}

.box input[type="text"]:focus,.box input[type="password"]:focus {
    border-color: rgb(212, 163, 40);
}
.box input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    background-color: rgb(255, 169, 10);
    border: 3px solid rgb(212, 163, 40);
    padding: 14px 10px;
    outline: none;
    color: white;
    border-radius: 24px;
    transition: 0.25px;
    cursor: pointer;
}
.box input[type="submit"]:hover{
    background: rgb(243, 178, 58);
}